/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


.home .hero img
  max-width 450px!important
  

.wrapper
  height 70vh
  display flex
  gap 5rem
  align-items start
  justify-content space-between

  img
    width 35%

img
  width 65%
  display block
  margin 0 auto
  padding 1rem

